{% extends 'base.html' %}
{% load static %}
{% block title %} DevWxs | Blogs {% endblock %}
{% block ingredient %}
    {% include 'features/_profile/_avatar.html' %}
    {% include 'features/_profile/_cover_image.html' %}
    <section class="flex w-full h-full justify-center">
        <div class="flex w-full h-auto flex-col space-y-6 lg:w-[60rem] xl:w-[60rem]">
            <!-- IMAGE -->
            <div class="group w-full h-[20rem]">
                <div class="relative overflow-hidden flex items-center justify-center w-full h-full rounded-3xl drop-shadow-[0_0px_15px_rgba(0,0,0,0.04)]">
                    <img class="w-full h-full object-cover pointer-events-none group-hover:scale-105 transition duration-200"
                         src="{{ user.cover_image.url }}"
                         alt=""/>
                    <div class="absolute top-0 left-0 right-0 bottom-0 p-6 flex items-center justify-center md:justify-start">
                        <div class="absolute overflow-hidden h-32 w-32 rounded-full border-4 border-white">
                            <img class="w-full h-full object-cover pointer-events-none group-hover:scale-105 transition duration-200"
                                 src="{{ user.avatar.url }}"
                                 alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END - IMAGE -->
            <!-- USER -->
            <div class="flex flex-col gap-4 sm:flex-row items-center justify-between">
                <div class="flex flex-col items-center sm:items-start justify-center">
                    <h1 class="text-2xl font-bold text-gray-800">{{ user.get_full_name }}</h1>
                    <div class="flex items-center gap-x-1">
                        <span class="text-xs text-gray-500"><strong>12</strong> Đang theo dõi</span>
                        <span>&bump;</span>
                        <span class="text-xs text-gray-500"><strong>12</strong> Người theo dõi</span>
                    </div>
                    <hr class="w-full"/>
                    <p class="text-xs text-gray-500 flex items-center gap-x-1">
                        <strong>Nghệ danh</strong><span>&conint;</span>
                        {{ user.artist }}
                    </p>
                </div>
                <div class="flex flex-col gap-y-1 items-end justify-center">
                    <div class="flex items-center gap-x-2">
                        {% if request.user.is_authenticated and request.user == user %}
                            <button
                                    id="#"
                                    class="flex items-center justify-center rounded-full bg-active/60 p-1 px-4 leading-5 drop-shadow-[0_0px_15px_rgba(0,0,0,0.05)] transition duration-200 hover:bg-active/80 hover:scale-105">
                                <span class="text-xs font-semibold text-white">Chỉnh sửa</span>
                            </button>
                        {% endif %}
                        {% if request.user.is_staff and request.user.is_superuser %}
                            <a href="#"
                               class="flex items-center justify-center rounded-full bg-white p-1 px-4 leading-5 drop-shadow-[0_0px_15px_rgba(0,0,0,0.05)] transition duration-200 hover:scale-105">
                                <span class="text-xs font-semibold text-gray-800">Quản lý</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="flex items-center gap-x-2">
                        {% if request.user.is_authenticated and request.user == user %}
                            <button
                                    id="avatarBtn"
                                    class="flex items-center justify-center rounded-full bg-active/60 p-1 px-4 leading-5 drop-shadow-[0_0px_15px_rgba(0,0,0,0.05)] transition duration-200 hover:bg-active/80 hover:scale-105">
                                <span class="text-xs font-semibold text-white">Chỉnh sửa ảnh đại diện</span>
                            </button>
                            <button
                                    id="cover_imageBtn"
                                    class="flex items-center justify-center rounded-full bg-active/60 p-1 px-4 leading-5 drop-shadow-[0_0px_15px_rgba(0,0,0,0.05)] transition duration-200 hover:bg-active/80 hover:scale-105">
                                <span class="text-xs font-semibold text-white">Chỉnh sửa ảnh bìa</span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- END - USER -->
            <hr class="w-full"/>
            <!-- BODY -->
            <div class="w-full h-auto flex flex-col md:flex-row justify-center gap-4">
                <!-- INFOR -->
                <div class="flex w-full flex-col {% if blogs %}gap-y-4{% endif %} md:w-[40rem] lg:w-[40rem] xl:w-[40rem]">
                    <!-- Image -->
                    {% if blogs %}
                        <div class="w-full bg-white rounded-3xl drop-shadow-[0_0px_15px_rgba(0,0,0,0.04)]">
                            <div class="flex flex-col items-start justify-center w-full h-full gap-y-2 p-4">
                                {% include 'common/_profile/partials/_images.html' with title="Ảnh" %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- End - Image -->
                    <!-- About -->
                    <div class="w-full h-auto bg-white rounded-3xl drop-shadow-[0_0px_15px_rgba(0,0,0,0.04)]">
                        <div class="flex flex-col items-start justify-center gap-y-2 p-4">
                            {% include 'common/_profile/partials/_infos.html' with title="Giới thiệu" %}
                        </div>
                    </div>
                    <!-- End - About -->
                </div>
                <!-- END - INFOR -->
                <!-- VIEW ALL BLOG AND PODCAST USER -->
                <div class="flex w-full flex-col {% if podcasts %}gap-y-2{% endif %}">
                    <!-- PODCAST -->
                    {% if podcasts %}
                        <div class="w-full bg-white rounded-3xl drop-shadow-[0_0px_15px_rgba(0,0,0,0.04)]">
                            <div class="flex flex-col items-start justify-center w-full h-full gap-y-2 p-4">
                                {% include 'common/_profile/partials/_podcast.html' with title="Sản phẩm âm nhạc" %}
                            </div>
                        </div>
                    {% endif %}
                    <!-- END - PODCAST -->
                    <!-- BLOG -->
                    <div class="flex flex-col items-center justify-center gap-y-4 w-full h-auto">
                        {% include 'common/components/_blogs.html' %}
                    </div>
                    <!-- END - BLOG -->
                </div>
                <!-- END - VIEW ALL BLOG AND PODCAST USER -->
            </div>
            <!-- END - BODY -->
        </div>
    </section>
{% endblock %}